
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">
      <h1 class="title">
        </i><%= @current_channel.name %>
      </h1>
      <div class="request_message_box">
        <p class="request_message">Thank you for your request :)</p>
      </div>
      <% if @current_channel.enable_request %>
        <div class="form-wrap">
          <%= render :partial => "common/form"%>
        </div>
      <% end %>
      <div class="yt-set clearfix">
        <div id="player"></div>
        <div class="controll-box">
          <div id="start">
            <i class="fa fa-play fa-4x" style="color: white; margin-top: 21px;"></i>
          </div>
        </div>
      </div>
      <div class="contents_box">
        <h3>
          <i class="fa fa-bolt" style="font-size: 36px; padding: 0 10px 0 0;"></i>description
        </h3>
        <p>
          <%= br(@current_channel.description) %>
        </p>
        <% if @current_channel.enable_request %>
          <button class="btn btn-success create-btn" data-toggle="modal" data-target="#edit-channel">
            <i class="fa fa-plus"></i>edit
          </button>
        <% end %>
        <div class="modal fade" id="edit-channel">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Edit Channel</h4>
              </div>
              <div class="modal-body">
                <%= form_for @current_channel, html: {class: 'form-horizontal'}, :url => {:controller => :channels, :action => :update} do |f| %>
                  <div class="form-group">
                    <label class="col-sm-3">Description</label>
                    <div class="col-sm-9">
                      <%= f.text_area :description, placeholder: "about this channel", cols:"30", rows:"10", autofocus:"true",value: "#{@current_channel.description}", class:"form-control" %>
                    </div>
                  </div>
                  <%= f.submit "Create", class:"btn btn-success withripple"%>
                <% end %>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div>
      </div>
      <div class="form-wrap">
        <h3>
            <i class="fa fa-key fa-fw" style="font-size: 36px; padding: 0 10px 0 0;"></i>password
        </h3>
        <%= form_tag("/channels/#{@current_channel.id}/check_password", :method => :post, :id => :form) do %>
        <input type="text" id="post" name="password" class="request-form" placeholder="channel-password">
        <input type="submit" value="confirm" class="request-button">
        <% end %>
      </div>
    </div>
  </div>

<script>
  var player;
  num = 0;
  ary = <%= @impressions.to_json.html_safe %>;

  function shuffle(ary) {
  var n = ary.length, t, i;

  while (n) {
    i = Math.floor(Math.random() * n--);
    t = ary[n];
    ary[n] = ary[i];
    ary[i] = t;
  }

  return ary;
  }

  function onYouTubeIframeAPIReady(){
    var event = 'ontouchstart' in window ? 'touchend' : 'click';
    player = new YT.Player('player', {
      height: 200,
      width: 350,
      events: {
        onStateChange: onPlayerStateChange,
        onError: onPlayerError
      }
    });

    $(document).on(event, 'div#start', function(){
      if (<%= @all_count %> == num) {
        num = 0;
        shuffle(ary)
      };
      player.loadVideoById(ary[num]);
      num += 1
    });
  }

  function onPlayerStateChange(e) {
    if (e.data == YT.PlayerState.ENDED) {
      if (<%= @all_count %> == num) {
        num = 0;
        shuffle(ary)
      };
      player.loadVideoById(ary[num]);
      num += 1
      player.playVideo();
    }
  }

  function onPlayerError(e) {
    num += 1
    player.loadVideoById(ary[num]);
    num += 1
    player.playVideo();
  };
</script>